*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-10: oklch(43.9% 0 0);
  --dark-20: oklch(37.1% 0 0);
  --dark-30: oklch(26.9% 0 0);
  --dark-40: oklch(20.5% 0 0);
  --dark-50: oklch(14.5% 0 0);

  --light-10: oklch(98.5% 0 0);
  --light-20: oklch(97% 0 0);
  --light-30: oklch(92.2% 0 0);
  --light-40: oklch(87% 0 0);
  --light-50: oklch(70.8% 0 0);
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--light-10);
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--light-20);
  margin-top: 150px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  color: var(--dark-40);
  margin-bottom: 120px;
}

h1 {
  font-weight: 800;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.main-header-404 {
  flex-direction: column;
  gap: 28px;
}

.counter-cont {
  display: flex;
  gap: 24px;
}

.counter {
  padding: 9px;
  border-radius: 6px;
  background-color: var(--dark-40);
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-num {
  font-size: 20;
  color: var(--light-20);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

a:link,
a:visited {
  color: var(--dark-10);
}

.main-main {
  padding: 8px;
}

ul li {
  display: flex;
  gap: 24px;
  padding-bottom: 30px;
}

.sign {
  font-size: 22px;
  text-transform: uppercase;
  background-color: var(--light-30);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  color: var(--light-50);
}

.m-user-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.m-user {
  color: var(--dark-50);
  font-weight: 700;
  font-size: 16px;
}

.m-added {
  font-size: 14px;
  color: var(--dark-10);
}

.m-box {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid var(--light-30);
  font-size: 16px;
  color: var(--dark-20);
  line-height: 1.5;
  margin-top: 16px;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

ul li p {
  margin-top: 4px;
}

.m-link:link,
.m-link:visited {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}

input[type='text'] {
  font-size: 21px;
  padding: 8px 5px;
  border: 1px solid var(--light-50);
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-inner-cont {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.form-inner-cont > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

textarea {
  font-size: 21px;
  padding: 8px 5px;
  border: 1px solid var(--light-50);
  border-radius: 6px;
  resize: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

button[type='submit'] {
  font-size: 24px;
  font-weight: 600;
  border: none;
  background-color: var(--dark-40);
  color: var(--light-20);
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
}

.go-home:link,
.go-home:visited {
  font-size: 24px;
  display: inline-block;
  margin-top: 20px;
}

.form-invalid-message {
  color: red;
  margin-top: 4px;
}
